<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letras del Sur</title>
    <link rel = "icon" href ="/img/iso.png" type = "image/x-icon"> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/examples.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/slider-pro.min.css" />
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body onload="animateHTML().init();">
    <a href="/" style="font-size: 22px;
line-height: 26px;
letter-spacing: 0.025em;"> <img id="logo" 
                src="/img/iso.png" alt="logo">   Letras del Sur</a>
    <div class="nav brackets topnav" id="myTopnav">
        
        <a href="/">Inicio</a>
        <a href="/quienesomos">Quiénes Somos</a>
        <a href="/catalogo">Catálogo</a>
        <a href="/autores">Autores</a>
        <a href="/distribucion">Distribución</a>
        <a href="/prensa">Prensa</a>

        <a href="javascript:void(0);" class="icon" onclick="respNav()">
            <img src="https://img.icons8.com/ios-filled/50/000000/menu-rounded.png"></a>
    </div>
    {{{body}}}
    <div class="footer flex nav">
        <div class="brackets">
            <ul class="footbuttons">
                <li><a>Inicio</a></li>
                <li><a>Quiénes Somos</a</li> <li><a>Catálogo</a></li>
                <li><a>Distribución</a></li>
                <li><a>Prensa</a></li>
                <li><a>Colecciones</a></li>
            </ul>
        </div>
        <img id="footlogo"  src="/img/logoletras.png"
            alt="logo">
    </div>



    <script src="/libs/jquery-1.11.0.min.js"></script>
    <script src="/js/jquery.sliderPro.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#slider').sliderPro({
                width: 960,
                height: 500,
                arrows: true,
                buttons: false,
                waitForLayers: true,
                thumbnailWidth: 200,
                thumbnailHeight: 100,
                thumbnailPointer: true,
                autoplay: true,
                autoScaleLayers: true,
                breakpoints: {
                    500: {
                        thumbnailWidth: 120,
                        thumbnailHeight: 50,
                        height:300,
                        width: 400
                    }
                }
            });
            $('#example5').sliderPro({
                width: 670,
                height: 500,
                orientation: 'horizontal',
                loop: false,
                arrows: true,
                buttons: false,
                autoplay: false,
                thumbnailsPosition: 'left',
                thumbnailPointer: true,
                thumbnailWidth: 290,
                breakpoints: {
                    800: {
                        thumbnailsPosition: 'bottom',
                        thumbnailWidth: 270,
                        thumbnailHeight: 100
                    },
                    500: {
                        thumbnailsPosition: 'bottom',
                        thumbnailWidth: 120,
                        thumbnailHeight: 50
                    }
                }
            });
        });




        function respNav() {
            var x = document.getElementById("myTopnav");
            if (x.className === "nav brackets margin topnav") {
                x.className += " responsive";
            } else {
                x.className = "nav brackets margin topnav";
            }
        }

        var animateHTML = function () {
            var elems;
            var windowHeight;

            function init() {

                elems = document.querySelectorAll('.hidden');
                windowHeight = window.innerHeight;
                addEventHandlers();
                checkPosition();
            }

            function addEventHandlers() {
                window.addEventListener('scroll', checkPosition);
                window.addEventListener('resize', init);
            }

            function checkPosition() {
                for (var i = 0; i < elems.length; i++) {
                    var positionFromTop = elems[i].getBoundingClientRect().top;
                    if (positionFromTop - windowHeight <= 0) {
                        elems[i].className = elems[i].className.replace(
                            'hidden',
                            'fade-in-element'
                        );
                    }


                }
            }


            return {
                init: init
            };
        };
    </script>
</body>

</html>