<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/image2vector.svg" type="image/x-icon">
    <title>Letras</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/examples.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/slider-pro.min.css" />
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body onload="animateHTML().init();">

    <a href="/">
        <img id="logo" src="/img/iso.png" alt="logo"> <img style="width: 250px;" src="/img/logowebrojo.png" alt=""></a>



    <div class="nav brackets topnav" id="myTopnav">

        <a href="/">Inicio</a>
        <a href="/quienesomos">Quiénes Somos</a>
        <a href="/catalogo">Catálogo</a>
        <a href="/autores">Autores</a>
        <a href="/distribucion">Distribución</a>


        <a href="javascript:void(0);" class="icon" onclick="respNav()">
            <img style="position: relative; bottom: 10px;"
                src="https://img.icons8.com/ios-filled/50/000000/menu-rounded.png"></a>
    </div>

    {{{body}}}
    <div class="footer flex nav">
        <div class="brackets">
            <ul class="footbuttons">
                <li><a>Inicio</a></li>
                <li><a>Quiénes Somos</a></li>
                <li><a>Catálogo</a></li>
                <li><a>Autores</a></li>
                <li><a>Distribución</a></li>


            </ul>
        </div>
        <img id="footlogo" src="/img/logoletras.png" alt="logo">
    </div>



    <script src="/libs/jquery-1.11.0.min.js"></script>
    <script src="/js/jquery.sliderPro.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.post').on('click', function () {
                $(this).find('.summary').slideToggle();
            })
        });
          $(document).ready(function () {
            $('.colecciones').on('click', function () {
                $(this).find('.summary').slideToggle();
            })
        });
        $(document).ready(function ($) {
            $('#slider').sliderPro({
                width: 960,
                height: 500,
                arrows: true,
                buttons: false,
                waitForLayers: true,
                thumbnailWidth: 200,
                thumbnailHeight: 100,
                thumbnailPointer: true,
                autoplay: true,
                autoScaleLayers: true,
                breakpoints: {
                    500: {
                        thumbnailWidth: 120,
                        thumbnailHeight: 50,
                        height: 300,
                        width: 500
                    }
                }
            });
            {{!-- $(document).ready(function ($) {
                $('#example2').sliderPro({
                    width: 100,
                    height: 400,
                    visibleSize: '100%',
                    forceSize: 'fullWidth',
                    visibleSize: 800,
                    autoSlideSize: true,
                    slideDistance: 300,
                    imageScaleMode: 'none',
                    arrows: true,
                    orientation: 'vertical',
                });

                // instantiate fancybox when a link is clicked
                $(".slider-pro").each(function () {
                    var slider = $(this);

                    slider.find(".sp-image").parent("a").on("click", function (event) {
                        event.preventDefault();

                        if (slider.hasClass("sp-swiping") === false) {
                            var sliderInstance = slider.data("sliderPro"),
                                isAutoplay = sliderInstance.settings.autoplay;

                            $.fancybox.open(slider.find(".sp-image").parent("a"), {
                                index: $(this).parents(".sp-slide").index(),
                                afterShow: function () {
                                    if (isAutoplay === true) {
                                        sliderInstance.settings.autoplay = false;
                                        sliderInstance.stopAutoplay();
                                    }
                                },
                                afterClose: function () {
                                    if (isAutoplay === true) {
                                        sliderInstance.settings.autoplay = true;
                                        sliderInstance.startAutoplay();
                                    }
                                }

                            });
                        }
                    });
                });
            }); --}}
           $( document ).ready(function( $ ) {
		$( '#example5' ).sliderPro({
			width: 670,
			height: 400,
			orientation: 'vertical',
			loop: false,
			arrows: true,
			buttons: false,
			thumbnailsPosition: 'left',
			thumbnailPointer: true,
			thumbnailWidth: 290,
            imageScaleMode: 'contain',
			breakpoints: {
				800: {
					thumbnailsPosition: 'bottom',
					thumbnailWidth: 270,
					thumbnailHeight: 100,
                    thumbnailPointer: false
				},
				500: {
					thumbnailsPosition: 'bottom',
					thumbnailWidth: 120,
					thumbnailHeight: 50,
                    thumbnailPointer: false,
				}
			}
		});
	});
        });




        function respNav() {
            var x = document.getElementById("myTopnav");
            if (x.className === "nav brackets margin topnav") {
                x.className += " responsive";
            } else {
                x.className = "nav brackets margin topnav";
            }
        }

        var animateHTML = function () {
            var elems;
            var windowHeight;

            function init() {

                elems = document.querySelectorAll('.hidden');
                windowHeight = window.innerHeight;
                addEventHandlers();
                checkPosition();
            }

            function addEventHandlers() {
                window.addEventListener('scroll', checkPosition);
                window.addEventListener('resize', init);
            }

            function checkPosition() {
                for (var i = 0; i < elems.length; i++) {
                    var positionFromTop = elems[i].getBoundingClientRect().top;
                    if (positionFromTop - windowHeight <= 0) {
                        elems[i].className = elems[i].className.replace(
                            'hidden',
                            'fade-in-element'
                        );
                    }


                }
            }


            return {
                init: init
            };
        };
    </script>
</body>

</html>