<ul class="margin authorsgallery">
  {{#if data.autor}}

  <div class="card-flex">

    <img class="puff-in-center biopic" src="/uploads/files/{{{data.autor.image.filename}}}">
    <div class="fade-in reseña">
      <h1 class="titulo">
        {{{data.autor.name}}}
      </h1>

      <p>
        {{{data.autor.bio.extended}}}

      </p>
    </div>
  </div>
 
 

  {{/if}}
</ul>
