<h1 class="titulo">Autores</h1>

    <ul class="authorsgallery">
    {{#if data.autor}}
		{{#each data.autor}}
        <li class="eachpic hidden">
            <img class="authors" src="/uploads/files/{{image.filename}}" >
            <div class="pictext underlined underlined--offset">
                <p><a href="/autor/{{autorUrl slug}}"> {{{name}}}</a></p>
            </div>
        </li>
	{{/each}}
    {{/if}}
    </ul>
    