<div id="distribuidores">
    <h1>Distribuidores</h1>
    <h4>Argentina</h4>
    <p>Distribuidora Waldhuter
        <br>
        www.waldhuter.com.ar
        <br>
        info@waldhuter.com.ar
        <br>
        Pavón 2636,
        <br>
        Ciudad Autónoma de Buenos Aires
        <br>
        Teléfono: +5411 6091 4786</p>
    <hr class="separador">
    <p>Distribuidora Galerna
        <br>
        www.institucional.galernaweb.com
        <br>
        info@galerna.net
        <br>
        Lambaré 893,
        <br>
        Ciudad Autónoma de Buenos Aires
        <br>
        Teléfono: +5411 4876 1661</p>
   <h4>México</h4>  
    <p>
        Grupo Editorial Neisa <br>
        Nueva Editorial Iztaccihuatl, S.A. de. C.V.<br>
        Teléfonos: 557158-8088 / 8083 / 3627<br></p>
   <h4>España</h4> <p>
        Av. Comunidad de Madrid, 41 – C.C. Burgocentro I , Local 5 - 28231 – Las Rozas,<br>
        910 103 502<br>
        ventas@librospremisa.com<br>
        info@distribuidorapremisa.es<br></p>
   <h4>Colombia</h4> <p>
        Asociación Colombiana de Libreros Independientes<br>
        correo.acli@gmail.com<br>
        Carrera 17, número 69 26 B, Bogotá<br>
        Teléfono: +571 703 6117<br></p>
   <h4>Ecuador</h4> <p>
        Mr. Books<br>
        Mall Del Sur, Guayaquil 090202<br>
        +593 2-298-0281<br>
        marketing@mrbooks.com<br>
        http://www.mrbooks.com<br></p>
</div> <h4></h4>