<div id="distribuidores">
    <h1>Distribuidores</h1>
    <h4>Argentina</h4>
    <p>Distribuidora Waldhuter
        <br>
        www.waldhuter.com.ar
        <br>
        info@waldhuter.com.ar
        <br>
        Pavón 2636,
        <br>
        Ciudad Autónoma de Buenos Aires
        <br>
        Teléfono: +5411 6091 4786</p>
    <hr class="separador">
    <p>Distribuidora Galerna
        <br>
        www.institucional.galernaweb.com
        <br>
        info@galerna.net
        <br>
        Lambaré 893,
        <br>
        Ciudad Autónoma de Buenos Aires
        <br>
        Teléfono: +5411 4876 1661</p>
</div>