<h1>Quiénes Somos</h1>
	<div class="margin justify">
		<p id="qs">
		Letras del Sur nace como una búsqueda: difundir las voces más singulares del mundo literario. Somos una editorial dedicada a transformar la palabra escrita en un objeto de encuentro entre lectores y escritores.

La idea de Letras del Sur es proveer de un espacio creativo tanto a lxs autores nóveles como a lxs consagradxs para que puedan hacer llegar su obra al mundo de la manera más auténtica posible. En Letras del Sur son esenciales todos los aspectos de la edición que, en su conjunto, hacen del libro una revelación. El objetivo primordial es brindar a nuestrxs lectores una experiencia de lectura innovadora y sensorial: leer con todo el cuerpo. Mirar, tocar, escuchar son parte del placer de experimentar nuestros libros.

Letras del Sur despliega un abanico de voces en todos sus géneros. En la ficción, con novelas, cuentos y poesía; y en no-ficción, con ensayos e investigación periodística. Consideramos tanto la forma como el contenido, y creemos en la combinación del talento y el trabajo.

Crecer para Letras del Sur es llevar al mundo una literatura elocuente y reveladora.
		</p>
	</div>
	<h1 class="margin">Equipo</h1>
	<div style="width: 70%;">
    <div id="example2" class="slider-pro equipo">
		<div class="sp-slides">
			<div class="sp-slide">
				<a href="/img/equipo/nora.jpeg">
					<img class="sp-image" src="/img/equipo/nora.jpeg" 
						data-src="/img/equipo/nora.jpeg" 
						data-retina="/img/equipo/nora.jpeg"/>
				</a>
				<p class="sp-caption margin">Nora Galia <br> Es creadora y directora de Letras del Sur Editora y Gestora Cultural (FFYL-UBA). Desde 1997 es docente y profesora en la Universidad de Buenos Aires. También participó como investigadora de proyectos UBACyT, y dictó seminarios y posgrados en diferentes instituciones.
Como agente cultural, organizó diversos cursos, talleres, ferias del libro. Es la productora del ciclo de charlas “Revoluciones Íntimas II”, un espacio que ha ido ganando terreno en el campo cultural.
Hoy, Letras del Sur cuenta con más de treinta y cinco títulos en su catálogo.
</p>
			</div>

	        <div class="sp-slide">
				<a href="/img/equipo/Lucía.png">
	        		<img class="sp-image" src="/img/equipo/Lucía.png" 
	        			data-src="/img/equipo/Lucía.png" 
	        			data-retina="/img/equipo/Lucía.png"/>
	        	</a>
	        	<p class="sp-caption">Lucía Beraldi <br> Es licenciada en Letras, y docente de Lengua y Literatura en el nivel medio. Ha participado en grupos
de investigación, y asistido a diferentes congresos y jornadas literarias. En Letras del Sur, se
desempeña como editora y gestora cultural. Junto a Nora Galia organiza el ciclo de charlas
“Revoluciones Íntimas II” y tiene a su cargo la coordinación editorial.</p>
			</div>

			<div class="sp-slide">
				<a href="/img/equipo/juan.jpg">
					<img class="sp-image" src="/img/equipo/juan.jpg" 
						data-src="/img/equipo/juan.jpg" 
						data-retina="/img/equipo/juan.jpg"/>
				</a>
				<p class="sp-caption">Juan Gómez <br> Diseñador gráfico.</p>
			</div>

			<div class="sp-slide">
				<a href="">
					<img class="sp-image" src="/img/equipo/benja.jpg" 
						data-src="/img/equipo/benja.jpg" 
						data-retina="/img/equipo/benja.jpg"/>
				</a>
				<p class="sp-caption">Benjamín Salas <br>Diseñador web y programador.</p>
			</div>

			<div class="sp-slide">
				<a href="">
					<img class="sp-image" src="/img/equipo/cami.jpeg" 
						data-src="/img/equipo/cami.jpeg" 
						data-retina="/img/equipo/cami.jpeg"/>
				</a>
				<p class="sp-caption">Camila Barrera <br> Diseñadora gráfica y Community manager</p>
			</div>

			
		</div>
    </div>
    </div>
		
